.footer {
    display: flex;
    background-color: black;
    margin-top: 100px;
}

.footer__cell {
    padding: 20px;
    margin-top: 20px;
}

.footer__cell > h3 {
    color: white;
    font-weight: bold;
    
}

.footer__cell > p {
    color: gray;
    margin-top: 10px;
}

.footer__cell > p:hover {
    color: white;
}
