.hero {
    margin-top: 15vh;
    padding: 20px;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.hero__content {
    max-width: 35rem;
}

.hero__content h1 {
    font-weight: 800;
}

.hero__content p {
    padding: 25px 0;
    font-weight: 700;
}

.hero__btn {
    font-size: 25px;
    font-weight: 900;
    padding: 10px 20px;
    background-color: #13c636;
    box-shadow: 0 10px 15px 0 rgba(34, 217, 68, 0.35);
}

.hero__btn { 
    background-color: #13c636;
    border-radius: 8px; 
    box-shadow: 0 10px 15px 0 rgba(34, 217, 68, 0.35);
    color: #fff;
    padding: 15px 30px;
    transition: all .3s;
}

.hero__btn:hover {
    transform: scale(1.1);
}

.hero__img {
    width: 30rem;
    height: auto;
    /* width: 400px; */
}

@media (max-width: 950px) {
    .hero__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}