.about__header {
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.crypto {
    height: 80px;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}

@media only screen and (max-width: 768px) {
    .crypto {
        display: none;
    }

    #mobile-min {
        font-size: 50px;
    }
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

.about__header div h1 {
    font-weight: 750;
    font-size: 60px;
    text-align: center;
    max-width: 80vw;
}

.about__cryptoText {
    color:#FEBE10;
}


